<h1>BangShop</h1>
<p>Find the shop you need here</p>

<div id="map" style="height: 600px;"></div>

<script>
  const markers = <%= @markers.to_json.html_safe %>;

  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 13,
      center: { lat: 13.736717, lng: 100.523186 }
    });

    markers.forEach((marker_data) => {
      const marker = new google.maps.Marker({
        position: marker_data,
        map: map,
        icon: marker_data.icon_path
      });
    });
  }
</script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap">
</script>
