<div class="logo-container">
  <h1 class="logo">BangShop</h1>
  <p>Spa and massage | Nails | Hair removal | Barbershop</p>
</div>

<div id="map"></div>

<script>
  const markers = <%= @markers.to_json.html_safe %>;

  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 13,
      center: { lat: 13.736717, lng: 100.523186 }
    });

    markers.forEach((marker_data) => {
      const marker = new google.maps.Marker({
        position: marker_data,
        map: map,
        icon: marker_data.icon_path
      });

      const contentString = '<div class="info-window"><h3>' + marker_data.shop_name + '</h3><p>' + marker_data.category_name + '</p></div>';

      const infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    });
  }
</script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap">
</script>
